<% if current_user == nil %>
	<h4>You don't have pemission to view this page</h4>
	<%= link_to "Sign In", new_user_session_path %> to access your profile <br>
	<%= link_to "Sign Up", new_user_registration_path %> to create a new login

<% elsif current_user.id != params[:user_id].to_i %>
	<h4>This is not your profile</h4>
	<h4>Click <%= link_to "here", user_profiles_path(current_user) %> to see your profile

<% elsif @profile == nil %>
	<div id="afterprofile">
		<h4 id="beforeprofile">Seems like you haven't created a profile with us</h4>
	</div>

	<%= link_to "Create Profile Now", new_user_profile_path, :id => "new_link", :class => "btn btn-success", remote: true %>
	<%#= render "form" %>
<% else %>
  <div id="oldprofile">
	<h4>Profile Information</h4>
	<p>Street: <%= @profile.street %></p>
	<p>City: <%= @profile.city %></p>
	<p>State: <%= @profile.state %></p>
	<p>Zipcode: <%= @profile.zip %></p><br>
	
  </div>
  <hr>
  <%= link_to "Update Profile", edit_user_profile_path(current_user, @profile), :class => "btn btn-primary", :id => "update_profile" %>
  <%= link_to "Delete Profile", user_profile_path(current_user, @profile), :class => "btn btn-danger", data: {method: "delete", confirm: "Are you sure?"} %>

  <%#= render @profile %>

<% end %>

