<%= form_for @booking, url: contacts_path do |f| %>
  <div><%= f.label :comment %><br />
  <%= f.text_area :comment, rows: 6, autofocus: true %></div>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  <div><%= f.label :email %><br />
  <%= f.text_field :email %></div>
  <div><%= f.submit "Submit Comment" %></div>
<% end %>

