<h2>Need to book a paint job?</h2>
<h2><%= link_to "Click Here", new_booking_path %></h2>

<%= calendar @bookings do |booking| %>
  <div><a href="/users/<%= booking.user_id %>/bookings/<%= booking.id %>"><%= booking.name %><% if booking.time != nil %>@ <%= booking.time.strftime("%H:%M") %><% end %></a></div>
<% end %>




